body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4F4F8;
    color: #F92A82;
}

h2 {
    text-decoration-line: underline;
}

h4 {
    font: 10px;
}

.flex-container {
    display: flex;
    justify-content: left;
    margin-right: 85px;
    padding: 0px 50px 50px 50px;
}

.item-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    padding: 20px;
}

.div-item {
    padding: 0 25px 0 25px;
}

#fav-songs, #fav-artists, #fav-albums {
    padding-top: 0;
}

form {
    padding-left: 25px;
}

.form-input {
    width: 300px;
    height: 30px;
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    padding-left: 50px;
}

.radio-btn {
    padding: 5px 0 5px 0;
}

#top-flex-container {
    display: flex;
}

#submit-btn {
    border-top: 1px solid black;
    padding: 18.5px 37px;
    border-radius: 16px;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #F92A82;
    font-size: 12px;
    font-family:  Arial, Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
    height: 10px;
    width: 310px;
    }
 .button:hover {
    border-top-color: black;
    background: #CBBAED;
    color: #ccc;
    }
 .button:active {
    border-top-color: #1b435e;
    background: #1b435e;
    }